header{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    /* background-color: gray; */
    margin-right: 6rem;
    margin-left: 7rem;
}
header h4{
    text-transform: uppercase;
}
header h3{
    font-weight: 700;
    font-size: 2rem;
}
article{
    font-family: 'Poppins', sans-serif;
}

.main{
    display: flex;
    flex-wrap: wrap;
    width: 50rem;
    margin-left: 15rem;
    margin-top: 1.5rem;
    /* background-color: aqua; */
    justify-content: space-between;
    position: relative;
}

.image1,.image4,.image2,.image3,.image5,.image6{
    display: flex;

    /* position: relative; */
    /* justify-content: space-around; */
    /* margin-left: 2rem; */
    width: 30%;
    justify-content:space-evenly;
}
.rotate{
    /* position: absolute; */
    top: 30%;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
    writing-mode:vertical-rl;
     /* background-color:brown ; */
}
.photo1,.photo2,.photo3,.photo4,.photo5,.photo6{
    width: 93%;
}
.image2{
    margin-top: 4rem;
}

.image5{
    margin-top: 4rem;
}
.name{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.one,.two,.three,.four,.five,.six{
    margin-top: -rem;
    margin-left: -1.5rem;
}





